<section>
  <div class="container">
    <h1 class="text-center">Shopping List</h1>
    <div>
      <div class="d-flex justify-content-between">
        <p>Amount of food to buy: <%= @missing_foods.length %><p>
        <p>Recipe: <%= @recipe.name %><p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Total value of food needed: <%= @total_food_price %><p>
        <p>Inventory: <%= @inventory.name %><p>
      </div>
    </div>
    <table class="table table-bordered table-striped w-75 m-auto ">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_foods.each do |missing_food| %>
        <tr>
          <td><%= missing_food[:name] %></td>
          <td><%= missing_food[:quantity] %></td>
          <td><%= missing_food[:price] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</section>



