<ul id="<%= dom_id recipe %>" class="list-group">
  <li class="list-group-item">
    <strong>Name:</strong>
    <%= recipe.name %>
  </li>

  <li class="list-group-item">
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </li>

  <li class="list-group-item">
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </li>

  <li class="list-group-item">
    <strong>Description:</strong>
    <%= recipe.description %>
  </li>

  <li class="list-group-item">
    <strong>Public:</strong>
    <%= recipe.public %>
  </li>

</ul>
